#
# Managed by ansible
#
# Originally:
# $FreeBSD: releng/12.1/usr.sbin/ntp/ntpd/ntp.conf 337649 2018-08-11 17:42:42Z brd $
#

tos minclock 3 maxclock 6

pool 0.au.pool.ntp.org iburst

restrict default limited kod nomodify notrap noquery nopeer
restrict source  limited kod nomodify notrap noquery

restrict 127.0.0.1
restrict ::1

{% for network in local_networks %}
restrict {{ network["prefix"] }} mask {{ network["netmask"] }} nomodify notrap nopeer
{% endfor %}

interface listen ::1
interface listen 127.0.0.1
{% for listen_address in services[inventory_hostname]["ntp"]["addresses"] %}
interface listen {{ listen_address }}
{% endfor %}

leapfile "/var/db/ntpd.leap-seconds.list"
